* {
	margin: 0;
	padding: 0;
	font-size: 16px;
}



/*** HEADER ***/

header {
	width: 100%;
	display: table;
	border-bottom: solid 3px #9E9E9E;
	vertical-align: middle;
}

header div {
	display: none;
}

header figure {
	display: table-cell;
	width: 15%;
	vertical-align: middle;
	text-align: center;
}

header figure img {
	display: block;
	margin: 10px auto;
	width: 90%;
	min-height: 50px;
	max-height: 60px;
}

header nav {
	display: table-cell;
	width: 70%;
	height: 100%;
	vertical-align: middle;
}

header nav ul {
	list-style: none;
	display: table;
	width: 100%;
}

header nav ul li {
	display: table-cell;
	width: 25%;
}

header nav ul li a {
	color: #000;
	display: block;
	height: 100%;
	line-height: 15px;
	padding: 1em;
	text-align: center;
	text-decoration: none;
	font-size: 1.3em;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-transition: all .5s ease;	
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

header nav ul li a:hover {
	background: #009688;
	color: #fff;
}



/*** PRINCIPAL ***/

section.principal {
	width: 100%;
}

section.principal section.contenido {
	display: block;
	margin: 5em auto;
	padding: .5em;
	height: auto;
	text-align: center;
	vertical-align: middle;
	line-height: 2em;
}

section.principal section.contenido h1 {
	font-size: 1.8em;
}

section.principal section.contenido p {
	margin-bottom: 1em;
}

section.principal section.contenido form input {
	margin-bottom: 10px;
	width: 100%;
	padding: 10px;
	background: #B6B6B6;
	text-align: center;
	vertical-align: middle;
	border: none;
	color: #000;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

::-webkit-input-placeholder { color:#727272; }
::-moz-placeholder 			{ color:#727272; }
:-ms-input-placeholder 		{ color:#727272; }
input:-moz-placeholder 		{ color:#727272; }

section.principal section.contenido form input[type="submit"] {
	background: #009688;
	color: #fff;

	-webkit-transition: all .5s ease;	
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

section.principal section.contenido form input[type="submit"]:hover {
	background: #00796B;
}



/*** FOOTER ***/

footer {
	width: 100%;
}

footer figure {
	width: 30%;
	margin: 0 auto;
	text-align: center;
	vertical-align: middle;
}

footer figure img {
	width: 100%;
}