* {
	margin: 0;
	padding: 0;
	font-size: 16px;
}



/*** PRINCIPAL ***/

section.principal {
	width: 100%;
	margin-top: 3em;
	padding-top: 1em;
}

section.principal section.contenido {
	display: block;
	margin: 5em auto;
	padding: .5em;
	height: auto;
	text-align: center;
	vertical-align: middle;
	line-height: 2em;
}

section.principal section.contenido h1 {
	font-size: 1.8em;
	margin-bottom: 1em;
}

section.principal section.contenido a {
	display: inline-block;
	width: 100%;
	padding: 5px;
	background: #B6B6B6;
	text-decoration: none;
	color: #727272;

	-webkit-transition: all .5s ease;	
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

section.principal section.contenido a:hover {
	color: #000;
}


section.principal section.contenido input[type="submit"] {
	margin-bottom: 10px;
	width: 100%;
	padding: 10px;
	text-align: center;
	vertical-align: middle;
	border: none;
	background: #009688;
	color: #fff;

	-webkit-transition: all .5s ease;	
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

section.principal section.contenido input[type="submit"]:hover {
	background: #00796B;
}