* {
	margin: 0;
	padding: 0;
	font-size: 16px;
}



/*** PRINCIPAL ***/

section.principal {
	width: 100%;
	margin-top: 3em;
	padding-top: 1em;
}

section.principal section.contenido {
	display: block;
	margin: 5em auto;
	padding: .5em;
	height: auto;
	text-align: center;
	vertical-align: middle;
	line-height: 2em;
}


section.principal section.contenido form input {
	margin-bottom: 10px;
	float: left;
	width: 49%;
	padding: 10px;
	background: #B6B6B6;
	text-align: center;
	vertical-align: middle;
	border: none;
	color: #000;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

::-webkit-input-placeholder { color:#727272; }
::-moz-placeholder 			{ color:#727272; }
:-ms-input-placeholder 		{ color:#727272; }
input:-moz-placeholder 		{ color:#727272; }

section.principal section.contenido form input[type="submit"] {
	background: #009688;
	color: #fff;
	width: 98.5%;

	-webkit-transition: all .5s ease;	
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

section.principal section.contenido form input[type="submit"]:hover {
	background: #00796B;
}

section.principal section.contenido form select {
	margin-bottom: 10px;
	float: left;
	width: 49%;
	padding: 9px;
	background: #00796B;
	text-align: center;
	vertical-align: middle;
	border: none;
	color: #fff;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

section.principal section.contenido form input#nss {
	margin-right: 2px;
}

section.principal section.contenido form select#m {
	margin-right: 2px;
}