* {
	margin: 0;
	padding: 0;
	font-size: 16px;
}



/*** PRINCIPAL ***/

section.principal {
	width: 100%;
	margin-top: 3em;
	padding-top: 1em;
}

section.principal section.contenido {
	display: block;
	margin: 2em auto;
	padding: .5em;
	height: auto;
	text-align: center;
	vertical-align: middle;
	line-height: 2em;
}

section.principal section.contenido h3 {
	font-size: 1.5em;
	margin-top: 1em;
}

section.principal section.contenido p {
	margin-bottom: 1em;
	float: left;
}

section.principal section.contenido input[type="checkbox"] {
	float: right;

}


section.principal section.contenido input[type="submit"] {
	margin-bottom: 10px;
	width: 100%;
	padding: 10px;
	text-align: center;
	vertical-align: middle;
	border: none;
	background: #009688;
	color: #fff;
	margin-top: 2em;

	-webkit-transition: all .5s ease;	
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

section.principal section.contenido input[type="submit"]:hover {
	background: #00796B;
}